@use "../../styles/partials/mixins" as *;

.team {
    @include page;

    &__heading {
        text-align: center;
        position: absolute;
        top: 6px;
        font-weight: 400;
        font-size: 1.1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &__content {
        margin: 0 16px;
        min-height: 100vh;
        padding-top: 32px;
        padding-bottom: 32px;
        border-right: 1px solid black;
        border-left: 1px solid black;

        @include tablet {
            margin: 0 32px;

        }

        @include desktop {
            margin: 0 128px;
        }
    }



    &__members {


        @include tablet {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}