@use "../../styles/partials/mixins" as *;


.show {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        align-items: stretch;
    }

    &__poster-container {

        width: 100%;
        display: flex;
        justify-content: center;

        @include tablet {
            padding-top: 32px;
        }

    }

    &__poster {
        max-width: 100%;

        @include tablet {
            width: auto;
            max-height: calc(100vh - 160px);
            border-right: 1px solid black;

        }

        &--tablet {
            display: none;

            @include tablet {
                display: block;
            }
        }

        &--mobile {
            @include tablet {
                display: none;
            }
        }
    }

    &__information {
        width: 40%;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        margin-top: 32px;

        &::before {

            @include tablet {
                content: "";
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("../../assets/posters/may4postertop.jpg");
                opacity: 0.5;
                background-size: cover;
                background-position: center;
            }

        }

        @include tablet {}
    }

    &__overlay {

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 5;
        padding-bottom: 32px;

        @include tablet {
            background: #f8cce082;
            background: linear-gradient(90deg, rgba(133, 180, 224, 0.6) 0%, rgba(133, 120, 186, 0.6) 42%, rgba(248, 204, 224, 0.6) 100%);

        }

    }

    &__date {
        font-size: 1.3rem;
        opacity: 1;

        @include tablet {
            font-size: 3rem;
            font-weight: 900;
            color: white;
        }
    }

    &__city {
        font-size: 1rem;

        @include tablet {
            font-size: 2.5rem;
            font-weight: 700;
            color: white;
        }

    }

    &__venue {
        font-size: 1rem;
        font-weight: 400;

        @include tablet {
            font-size: 2rem;
            font-weight: 500;
            color: white;
        }
    }

    &__button {
        @include button;
        background-color: orange;

        &:hover {
            background-color: darkorange;
        }
    }
}