* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, sans-serif;
}


.hr {
    border-top: 1px solid black;
    position: absolute;
    width: 100%;

    &--top {
        top: 16px;
    }

    &--bottom-top {
        bottom: 48px;
    }

    &--bottom-bottom {
        bottom: 16px;
    }

}