@use "./variables" as *;

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin button {
    padding: 16px 32px;
    border-radius: 8px;
    color: white;
    border: none;
    text-transform: uppercase;
}