@use "../../styles/partials/mixins" as *;

.shows {
    
    @include page;

    &__heading {
        @include page-heading;
    }
    
    &__content {
       @include page-content;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
}